*{
  scroll-behavior: smooth;
  background-color: salmon;
}

.data{
  font-family: Arial, Helvetica, sans-serif;
  color: darkblue;
}

.text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:darkslateblue;
}

.highlight{
  font-family: 'Tangerine', serif;
  color:firebrick;
}

h1{
  font-size: 48px; 
  text-shadow: 3px;
  text-align: center;
}

h2{
  /* color:darkblue; only testing for color palette match */
}

ul:last-child{
  /* color: darkslateblue; only testing for color palette match */
}

table{
  margin: 15px 45px;
}

th, td{
  max-width: 300px;
  padding: 5px 15px;
  border:3px solid black;
  height: auto;
  word-wrap:break-word;
  column-span: all;

}
