*{
  scroll-behavior: smooth;
  background-color:tan;
}

.data{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(84, 84, 229);
}

.h2Text{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:darkslateblue;
}
p{
  font-size: 18px;
  word-spacing: 2px;
}

.highlight{
  font-family: 'Tangerine', serif;
  color:firebrick;
}

#homePageBanner{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
#logoImage{
  margin-left: 30px;
  height:200px;
  width:600px;
}

#pats{
  margin-left: auto;
  padding-right: 10px;
  font-size: 180px;
  font-weight: 900;
  text-shadow: 4px 2px 4px #666;
}

#salmonCookies{
  margin: 15px 75px 0px 0px;
  font-size: 128px;
  font-weight: 600;
  text-shadow: 4px 2px 4px #666;
}

hr{
  width:95%;
  /* border:6px solid rgb(204, 61, 0); */
  border:6px double rgb(175, 75, 4);
  border-radius: 15%;
  box-shadow: 2px 2px 2px #666;
}

h1{
  font-size: 48px; 
  text-shadow: 3px;
  text-align: center;
}

article{
  margin: 25px 15px 150px;
}

#art1H2{
  margin: 50px auto;
  text-align: center;
  text-decoration: 2px double underline rgb(175, 75, 4);
  text-underline-offset: 15px;
  font-size: 64px;
}

#whatWeDo{
  display:flex;
  justify-content: space-around;
  padding: 5px 30px;
}
#whatWeDo img{
  height:auto;
  max-width:300px;
  border:3px double rgb(175, 75, 4);
  border-radius: 15%;
}
#whatWeDo p{
  max-width:50%;
  justify-self: center;
}

#art2H2{
  margin: 50px auto;
  text-align: center;
  text-decoration: 2px double underline rgb(175, 75, 4);
  text-underline-offset: 15px;
  font-size: 64px;
}

#whoWeAre{
  display:flex;
  justify-content: space-around;
  padding: 5px 30px;
}

#whoWeAre img{
  height:auto;
  max-width:300px;
  border:3px double rgb(175, 75, 4);
  border-radius: 15%;
}

#whoWeAre p{
  max-width:50%;
  justify-self: center;
}

#art3H2{
  margin: 50px auto;
  text-align: center;
  text-decoration: 2px double underline rgb(175, 75, 4);
  text-underline-offset: 15px;
  font-size: 64px;
}

#whereWeAre{
  display:flex;
  justify-content: space-around;
  padding: 5px 30px;
}

#whereWeAre img{
  height:auto;
  max-width:300px;
  border:3px double rgb(175, 75, 4);
  border-radius: 15%;
}

#whereWeAre p{
  max-width:50%;
  justify-self: center;
  align-self: center;
}

#storeLocations, #storeLocations2{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

#storeLocations h3, #storeLocations2 h3{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

#storeLocations img, #storeLocations2 img{
  justify-self:  center;
  max-height:250px;
  max-width:  250px;
  margin-bottom: 20px;
  margin-left: 25px;
  border: 3px double rgb(175, 75, 4);
  border-radius: 50%;
}

#footer{
  display:flex;
  height: 175px;
  justify-content: space-evenly;
  background-color: firebrick;
  border-top: 3px solid rgb(78, 35, 4);
}

#footer img{
  max-height: 125px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 3px solid rgb(78, 35, 4);
}

#footer p{
  background-color: firebrick;
  align-self: center;
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}

#footer a{
  margin-top: 10px;
  padding:3px;
  height: 35px;
  background-color: rgb(193, 98, 31);
  color: black;
  border: 3px double rgb(78, 35, 4);
  text-decoration: none;
}

#footer a:focus, #footer a:hover
{
  background-color: rgb(253, 97, 53);
}


/* +++++++ SALES.HTML BELOW ++++++++++++ */

#salesHeader{
  margin-top: 40px;
}
#salesHeader h1{
  font-size: 64px;
}

#salesHeader a{
  margin-top: 10px;
  margin-left: 40px;
  padding:3px;
  height: 35px;
  background-color: rgb(193, 98, 31);
  color: black;
  border: 3px double rgb(78, 35, 4);
  text-decoration: none;
}
#salesHeader a:hover, #saleHeader:focus{
  background-color: rgb(253, 97, 53);
}


table{
  margin: 15px 45px;
}

th, td{
  max-width: 300px;
  padding: 5px 15px;
  border:3px solid black;
  height: auto;
  word-wrap:break-word;
  column-span: all;

}

th {
  color:darkblue;
  background-color: rgb(208, 142, 84);
  text-transform: capitalize;
}
form{
  display: flex;
}
fieldset{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid firebrick;
  background-color: rgb(216, 134, 76);
  width: 30%;
  margin: 10px 40px;
}
legend{
  border: 3px solid firebrick;
  font-size: 24px;
  font-weight: 700;
}
fieldset >*{
  margin:3px;
  padding: 5px;
  background-color: rgb(216, 134, 76);
}
fieldset label, input{
  margin-left: 30px;
  font-weight: 700;
}

fieldset input{
  border:3px solid black;
  border-radius: 7px;
}
button{
  margin :40px;
  height: 100px;
  background-color: rgb(216, 134, 76);
  border: 3px firebrick solid;
}
fieldset input:hover, button:hover{
  background-color: rgb(253, 97, 53);
}
fieldset input:focus, button:focus{
  background-color: rgb(253, 97, 53);
}